<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Location Name:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" th:field="*{name}" required minlength="3" maxlength="256"  />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Activity:</label>
        <div class="col-sm-10">
            <select th:field="*{activity}" class="form-control" required>
                <th:block th:each="activity : ${listActivities}">
                    <option th:value="${activity.id}">[[${activity.name}]]</option>
                </th:block>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Category:</label>
        <div class="col-sm-10">
            <th:block th:if="${location.category != null}">
                <select th:field="*{category}" class="form-control" required>
                    <th:block th:each="cat : ${location.brand.categories}">
                        <option th:value="${cat.id}">[[${cat.name}]]</option>
                    </th:block>
                </select>
            </th:block>

            <th:block th:if="${location.category == null}">
                <select th:field="*{category}" class="form-control" required>

                </select>
            </th:block>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Start season:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" th:field="*{dateIn}" required >
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label">End season:</label>
        <div class="col-sm-10">
            <input type="date" class="form-control" th:field="*{dateOut}" required>
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Price/day:</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" th:field="*{price}"/>
        </div>
    </div>

</div>
</body>
</html>