<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Locations - Sports Admin')"></head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Manage Locations</h2>

        <a th:href="@{/locations/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
        <a th:href="@{/locations/export/pdf}" class="fas fa-file-pdf fa-2x icon-dark mr-2"></a>
    </div>

    <div th:replace="fragments :: search_form_and_message('/locations/page/1')"></div>

    <div class="full-details">
        <table class="table table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Location Name</th>
                <th>Activity</th>
                <th>Category Sport</th>
                <th>Start Season</th>
                <th>End Season</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="location : ${listLocations}">
                <td>[[${location.id}]]</td>
                <td>
                    <a class="link-detail"
                       th:href="@{'/locations/detail/' + ${location.id}}"
                       title="View details of this location"
                    >[[${location.name}]]</a>

                </td>
                <td>[[${location.activity.name}]]</td>
                <td>[[${location.category.name}]]</td>
                <td>[[${#dates.format(location.dateIn, 'dd-MM-yyyy')}]]</td>
                <td>[[${#dates.format(location.dateOut, 'dd-MM-yyyy')}]]</td>
                <td>
                    <a class="fas fa-file-alt fa-2x icon-green link-detail"
                       th:href="@{'/locations/detail/' + ${location.id}}"
                       title="View details of this location"
                    ></a>
                    &nbsp;
                    <div th:replace="fragments :: edit('location', '/locations/edit/' + ${location.id})"></div>
                    &nbsp;
                    <div th:replace="fragments :: delete('location', ${location.id}, '/locations/delete/' + ${location.id}, true)"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:replace="modal_fragments :: confirm_modal"></div>

    <div class="modal fade" id="detailModal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">

    moduleURL = "[[@{/locations}]]";

    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            showDeleteConfirmModal($(this), 'location');
        });

        $(".link-detail").on("click", function(e) {
            e.preventDefault();
            linkDetailURL = $(this).attr("href");
            $("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
        });
    });
</script>
</body>
</html>